/MIPS_asm/Debug/MIPS_asm.exe
/MIPS_asm/Debug/MIPS_asm.ilk
/MIPS_asm/Debug/MIPS_asm.pdb
/MIPS_asm/MIPS_asm.sdf
/MIPS_asm/MIPS_asm.v12.suo
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.log
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.obj
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.pch
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.tlog/CL.read.1.tlog
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.tlog/CL.write.1.tlog
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.tlog/MIPS_asm.lastbuildstate
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.tlog/cl.command.1.tlog
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.tlog/link.command.1.tlog
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.tlog/link.read.1.tlog
/MIPS_asm/MIPS_asm/Debug/MIPS_asm.tlog/link.write.1.tlog
/MIPS_asm/MIPS_asm/Debug/stdafx.obj
/MIPS_asm/MIPS_asm/Debug/vc120.idb
/MIPS_asm/MIPS_asm/Debug/vc120.pdb
/MIPS_asm/ipch/mips_asm-f02a8d72/mips_asm-2812f585.ipch
/MIPS_asm/MIPS_asm/fstream.txt
/MIPS_asm/ipch/mips_asm-bdb757f7/mips_asm-2812f585.ipch
/MIPS_asm.exe - 快捷方式.lnk
/MIPS_asm/Debug/desktop.ini
/MIPS_asm/Debug/instruction.txt
/MIPS_asm/Debug/instruction.txt.bak
/MIPS_asm/Debug/新建文件夹/MIPS_asm.exe
/MIPS_asm/Debug/新建文件夹/MIPS_asm.ilk
